/LatinSquareSolver.class
/SetCollectionSolver.class
/LatinSquareSolver$LatinSquareNode.class
/LatinSquareSolver$GreedyComparator.class
/LatinSquare.class
/LatinSquare$GreedyComparator.class
/LatinSquare$LatinSquareNode1.class
